altair @ file:///C:/b/abs_0b1avjyzoc/croot/altair_1743016738596/work
attrs @ file:///C:/b/abs_89hmquz5ga/croot/attrs_1734533130810/work
blinker @ file:///C:/b/abs_b1i87khtob/croot/blinker_1737448732095/work
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
brotlicffi @ file:///C:/b/abs_f4lixvzmxt/croot/brotlicffi_1736183286104/work
cachetools @ file:///C:/b/abs_fcvwpc5vh9/croot/cachetools_1738224687938/work
certifi @ file:///C:/miniconda3/conda-bld/certifi_1759786076112/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1760098052251/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///C:/b/abs_bbg7qqz4dk/croot/click_1754477951021/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
gitdb @ file:///C:/b/abs_1bkmriimss/croot/gitdb_1753362133190/work
GitPython @ file:///C:/b/abs_2bkslnqz4i/croot/gitpython_1720455044865/work
idna==3.11
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
jsonschema @ file:///C:/b/abs_4d8dstds3t/croot/jsonschema_1753206424024/work
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
mkl-service==2.5.2
mkl_fft @ file:///C:/b/abs_64riv3lfyn/croot/mkl_fft_1751310924052/work
mkl_random @ file:///C:/b/abs_47jvsmau4j/croot/mkl_random_1751310922820/work
narwhals @ file:///C:/miniconda3/conda-bld/narwhals_1760003512045/work
numexpr @ file:///C:/b/abs_3buvfgcf6r/croot/numexpr_1755766488094/work
numpy @ file:///C:/b/abs_81ri0q57xq/croot/numpy_and_numpy_base_1755590863635/work/dist/numpy-1.26.4-cp310-cp310-win_amd64.whl#sha256=b6162b3d8f61a8b10293d275d39feb04e0969ade6c6fdf4251eb84d35b403681
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049101700/work
pandas @ file:///C:/miniconda3/conda-bld/pandas_1759822263292/work/dist/pandas-2.3.3-cp310-cp310-win_amd64.whl#sha256=1334d37cdb28f0f10d322297a276c0b56e115ad32f5bf3f0e575560f61a5ea74
pillow @ file:///C:/b/abs_b06nvnir5m/croot/pillow_1752524543576/work
protobuf @ file:///C:/b/abs_b5v84rwh56/croot/protobuf_1742419721750/work/bazel-bin/python/dist/protobuf-5.29.3-cp310-abi3-win_amd64.whl#sha256=dd7a6e96ccf2f19dc63e35889d44865cfe6df0449c799d650a73fb28d3073c4c
pyarrow @ file:///C:/miniconda3/conda-bld/pyarrow_1759833600583/work/python
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496059965/work
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
pytz @ file:///C:/b/abs_f8wdzeix0n/croot/pytz_1752135878094/work
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
requests @ file:///C:/b/abs_f53smfvswb/croot/requests_1756709376206/work
rpds-py @ file:///C:/b/abs_0c6z5kcdb6/croot/rpds-py_1736545465023/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
smmap @ file:///C:/b/abs_85z04amxrn/croot/smmap_1752748960667/work
streamlit @ file:///C:/miniconda3/conda-bld/streamlit-split_1758803711537/work/streamlit
tenacity @ file:///C:/miniconda3/conda-bld/tenacity_1760375743144/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
urllib3 @ file:///C:/b/abs_393g1ayee_/croot/urllib3_1750775481226/work
watchdog @ file:///C:/miniconda3/conda-bld/watchdog_1759775793959/work
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
